<html>
<head>
	<title></title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<link href="http://d2v52k3cl9vedd.cloudfront.net/basscss/4.2.2/basscss.min.css" rel="stylesheet">
	<script src="main.js"></script>
</head>
<body>
	<center>
		<h1>WIKI Linker</h1>
		<form action="post_test" method="post">
			<input class="start-input field-light" name='start_wiki' autocomplete="off">
			<input class="finish-input field-light" name='finish_wiki' autocomplete="off">
		</form>
		<div>
			<p> Your starting page is: <a class="start-link" href="en.wikipedia.org">/wiki/<span class="show-start"></span></a></p> 
		</div>
		<div> 
			<p> Your finish page is: <a class="finish-link" href="en.wikipedia.org">/wiki/<span class="show-finish"></span></a></p>
		</div>
		<button class="button-gray mb1">....</button>
	</center>
</body>
</html>