<html>
<head>
	<title></title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="test.js"></script>
</head>
<body>
	<center>
		<h1>WIKI scraper</h1>
		<p>will this work? </p>
		<form action="post_test" method="post">
			<input class="start-input" name='start_wiki'>
			<input class="finish-input" name='finish_wiki'>
		</form>
		<div>
			<p> Your starting page is: <span class="show-start"></span></p> 
		</div>
		<div> 
			<p> Your finish page is: <span class="show-finish"></span></p>
		</div>
	</center>
</body>
</html>